<footer
  class="text-center text-lg-start"
  style="background-color: rgba(125, 174, 217, 0.2)"
>
  <div class="wrapper">
    <nav class="d-flex flex-column align-items-center justify-content-center">
      <h4 class="text-uppercase">links</h4>
      <ul class="footer-links">
        <li *ngFor="let item of l">
          <a routerLink="{{ item.path }}" class="text-dark fs-5">
            {{ item.name }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Copyright -->
  <div
    class="text-center p-3"
    style="background-color: rgba(125, 174, 217, 0.2)"
  >
    © 2022 Copyright:
    <a class="text-dark" href="#">Users.com</a>
  </div>
</footer>
