.footer-links {
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-links {
    flex-direction: row;
    gap: 4rem;
  }
  nav > h4 {
    visibility: hidden;
  }
}
