<form class="row g-3" (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="col-md-6">
    <label for="firstName" class="form-label">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      placeholder="John"
      name="firstName"
      ngModel
      required
      pattern="^[a-zA-zа-яА-Я]{2,20}$"
    />
  </div>
  <div class="col-md-6">
    <label for="lastName" class="form-label">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      placeholder="Doe"
      name="lastName"
      ngModel
      required
      pattern="^[a-zA-zа-яА-Я]{2,20}$"
    />
  </div>
  <div class="col-12">
    <label for="profession" class="form-label">Profession</label>
    <input
      type="text"
      class="form-control"
      id="profession"
      placeholder="IT Specialist"
      name="profession"
      ngModel
      required
      pattern="^[a-zA-zа-яА-Я]{2,20}$"
    />
  </div>
  <div class="col-md-6">
    <label for="sex" class="form-label">Sex</label>
    <select id="sex" class="form-select" name="sex" ngModel required>
      <option value="" disabled>Choose...</option>
      <option *ngFor="let item of sexO" [value]="item">
        {{ item }}
      </option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="age" class="form-label">Age</label>
    <select id="age" class="form-select" name="age" ngModel required>
      <option value="" disabled>Choose...</option>
      <option *ngFor="let age of ageR" [value]="age">
        {{ age }}
      </option>
    </select>
  </div>
  <div class="col-12 d-flex justify-content-evenly p-4">
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!f.valid">
      {{ buttonInnerText }}
    </button>
    <button type="button" routerLink="/" class="btn btn-danger btn-lg">
      Cancel
    </button>
  </div>
</form>
