<div class="container">
  <div class="row hidden-md-up">
    <!-- card start -->
    <div class="col-md-4" *ngFor="let u of users">
      <div class="card p-2">
        <div class="card-block">
          <h4 class="card-title">{{ u.firstName }} {{ u.lastName }}</h4>
          <h6 class="card-subtitle text-muted">{{ u.profession }}</h6>
          <p class="card-text text-muted p-y-1">
            <span class="fw-bold">{{ u.age }}</span> years old
            <span class="fw-bold">{{ u.sex }}</span>
          </p>
          <a [routerLink]="['edit', u.id]" class="btn btn-primary me-4">Edit</a>
          <button (click)="onDelete(u.id)" class="btn btn-danger">
            Delete
          </button>
        </div>
      </div>
    </div>
    <!-- card end -->
  </div>
</div>
