<div class="container">
  <div class="row hidden-md-up">
    <!-- card start -->
    <div class="col-md-4">
      <div class="card p-2">
        <div class="card-block">
          <h4 class="card-title">John Doe</h4>
          <h6 class="card-subtitle text-muted">Developer</h6>
          <p class="card-text text-muted p-y-1">
            <span>25</span> years old <span>male</span>
          </p>
          <a href="#" class="btn btn-primary me-4">Edit</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    <!-- card end -->
    <div class="col-md-4">
      <div class="card p-2">
        <div class="card-block">
          <h4 class="card-title">John Doe</h4>
          <h6 class="card-subtitle text-muted">Developer</h6>
          <p class="card-text text-muted p-y-1">
            <span>25</span> years old <span>male</span>
          </p>
          <a href="#" class="btn btn-primary me-4">Edit</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-2">
        <div class="card-block">
          <h4 class="card-title">John Doe</h4>
          <h6 class="card-subtitle text-muted">Developer</h6>
          <p class="card-text text-muted p-y-1">
            <span>25</span> years old <span>male</span>
          </p>
          <a href="#" class="btn btn-primary me-4">Edit</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-2">
        <div class="card-block">
          <h4 class="card-title">John Doe</h4>
          <h6 class="card-subtitle text-muted">Developer</h6>
          <p class="card-text text-muted p-y-1">
            <span>25</span> years old <span>male</span>
          </p>
          <a href="#" class="btn btn-primary me-4">Edit</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-2">
        <div class="card-block">
          <h4 class="card-title">John Doe</h4>
          <h6 class="card-subtitle text-muted">Developer</h6>
          <p class="card-text text-muted p-y-1">
            <span>25</span> years old <span>male</span>
          </p>
          <a href="#" class="btn btn-primary me-4">Edit</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-2">
        <div class="card-block">
          <h4 class="card-title">John Doe</h4>
          <h6 class="card-subtitle text-muted">Developer</h6>
          <p class="card-text text-muted p-y-1">
            <span>25</span> years old <span>male</span>
          </p>
          <a href="#" class="btn btn-primary me-4">Edit</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
