<header style="background-color: rgba(125, 174, 217, 0.2)">
  <div class="wrapper">
    <nav class="navigation">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >users</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create" routerLinkActive="active"
            >create</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/edit" routerLinkActive="active"
            >edit</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
